/* bulles qui sortent de l'épée */

.sword,
.bubble {
  position: absolute;
}

.sword {
  width: 20%;
  top: 40%;
  left: 40%;
}

.bubble {
  opacity: 0;
  width: 25%;
  left: 35%;
  top: 30%;
}

.gradient {
  position: relative;
}
