/* footer*/

#logo-dargaud {
  width: 25%;
  margin-top: 5%;
}

.social {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

.social a {
  width: 3%;
  justify-content: space-between;
  margin-right: 3%;
}

.wrapper-about {
  position: absolute;
  top: 30%;
  right: 5%;
  line-height: 30px;
}

.about a {
  font-size: 16px;
  transition: text-decoration 0.2s;
}

ul {
  list-style-type: none;
}

.l-container-footer h3 {
  margin-top: 5%;
}

.link a {
  transition: text-decoration 0.2s;
  font-size: 12px;
}

.link {
  line-height: 20px;
}

.about a,
.link a {
  text-decoration: none;
}

.link a:hover,
.about a:hover {
  text-decoration: underline;
}

.l-container-footer .button {
  width: 16%;
  margin-top: 0;
  margin-left: 2%;
}

input {
  text-transform: uppercase;
  padding: 10px;
  padding-left: 30px;
  width: 30%;
  background-color: #e6affa;
  border: none;
  &::placeholder {
    color: #040814;
  }
}

.mail {
  display: flex;
  margin-bottom: 10%;
}

.rights {
  text-transform: none;
  text-align: center;
  font-size: 13px;
}
