/* section produit */

.l-container-product p,
h3,
.button p {
  color: #fff;
  font-size: 16px;
}

#bd {
  position: absolute;
  width: 46%;
  bottom: 15%;
  right: 3%;
  transition: transform, 0.2s;
}

#bd:hover {
  transform: scale(1.2);
}

.container-button {
  display: flex;
  flex-direction: row;
}

/* J'ai décidé ce changer l'esthetique des boutons car je trouve que ça les mets plus en avant et plus lisible que notre choix dans la maquette. */
.button {
  border: 2px solid #e6affa;
  padding: 15px;
  justify-content: space-around;
  margin-right: 40px;
  margin-top: 5%;
  transition: background-color 0.2s, font-weight 0.2s;
  min-width: 20%;
}

.button:hover {
  background-color: #e6affa;
  cursor: pointer;
  font-weight: 700;
}

.button p {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.2s;
}

.button:hover p {
  color: #040814;
}
