* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 100%;
}

body {
  background-color: #040814;
  font-family: "Creato Display", "Arial";
}

h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 60px;
}
